
.Navbar{
  background: var(--light-color);
  display: grid;
  border-bottom: 1px solid var(--deep-color);
  border-top: 1px solid var(--light-color);
  height: 1.8rem;
  grid-template-columns: 1fr 2rem;
  padding: 0 1rem;
  gap: 1rem;
}

.Navbar .NameSection{
  text-align: left;
  cursor: default;
  font-size: 1.1rem;
}

.Navbar .NameSection span{
  max-width: 16vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: inline-block;
  color: var(--middle-color);
}

.Navbar .NameSection span.name{
  color: var(--deep-color);
  font-weight: bold;
  margin-right: 0.3rem;
}

.Navbar .MenuSection{
  cursor: pointer;
  background-image: url(data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 fill=%27currentColor%27 class=%27bi bi-list%27 viewBox=%270 0 16 16%27%3E%3Cpath fill-rule=%27evenodd%27 d=%27M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z%27/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: right;
  transform: translate(5px, 1px); 
}

.Navbar .Menus {
  z-index: 1;
  background: var(--light-color-25);
  text-align: right;
  padding: 0.4rem 1rem 0.5rem 2rem;
  width: fit-content;
  position: absolute;
  border: 1px solid var(--middle-color);
  backdrop-filter: blur(4px);
  transform: translate(calc(100vw - 600px - 2rem), calc(1.7rem + 0px));
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px -5px #ccc;
  border-radius: 8px;
  display: none;
}

.Navbar .Menus a{
  color:var(--deep-color);
  text-decoration: none;
  font-size: 0.9em;
}

.Navbar .Menus span.devider{
  color:var(--deep-color);
  font-size: 0.6em;
}

.Navbar .Menus a:hover{
  filter: brightness(120%) saturate(120%);
}
