
.Navbar{
  background: var(--light-color);
  display: grid;
  border-bottom: 1px solid var(--deep-color);
  border-top: 1px solid var(--light-color);
  height: 1.8rem;
  grid-template-columns: 1fr 2rem;
  padding: 0 1rem;
  gap: 1rem;
}

.Navbar .NameSection{
  text-align: left;
  cursor: default;
  font-size: 1.1rem;
}

.Navbar .NameSection span{
  max-width: 16vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: inline-block;
  color: var(--middle-color);
}

.Navbar .NameSection span.name{
  color: var(--deep-color);
  font-weight: bold;
  margin-right: 0.3rem;
}

.Navbar .MenuSection{
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234147D5' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: right;
  transform: translate(5px, -1px);
  background-color: transparent;
  border: none;
  height: 1.8rem;
  background-position-y: 2px;
}

.Menus {
  display: flex;
  background: var(--light-color-25);
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--light-color-13);
}

.Menus.show {
  transition: all 1s ease;
}

.Navbar .MenuSection:hover{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237890E3' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");  background-repeat: no-repeat;
}

.Navbar .MenuSection:focus .Menus{
  border: 1px solid red;
}

.Menus a{
  color:var(--deep-color);
  text-decoration: none;
  font-size: 0.9em;
}

.Menus span.devider{
  color:var(--deep-color);
  font-size: 0.6em;
  position: relative;
  top: 0.4rem;
}

.Menus a:hover{
  filter: brightness(120%) saturate(120%);
}
