h3 {
    margin-top: 1.5rem;
}

.calendar_wrapper{
    display: grid;
    grid-template-rows: repeat(6, 1fr); /* 6행으로 나눔 */
    grid-template-columns: repeat(3, 1fr); /* 3열로 나눔 */
    padding: 0rem 1rem 1rem 1rem;
    border-bottom: 1px solid #eee;
}

div.Calendar {
    grid-row: 2 / 7;
    grid-column: 2;
}

.Calendar table {
    border-spacing: 1rem;
    cursor: default;
    margin: 0 auto;
}

.Calendar table th {
    background-color: var(--light-color-25);
    border: 1px solid var(--light-color);
    font-size: 1.2rem;
    color: var(--deep-color);
    padding: 0 0.3rem;
    border-radius: 100%;
}

.Calendar table td{
    color: #333;
    font-size: 0.96rem;
    font-family: 'Noto Sans';
    letter-spacing: -1px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0.2rem 0.4rem;
}

.Calendar table td:hover{
    background-color: var(--light-color-25);
}

.Calendar table td.today{
    background-color: var(--light-color-62);
    outline-color: var(--middle-color);
    outline-style: auto;
}

.Calendar table td:first-child{
    color: deeppink;
}

.Calendar table td:last-child{
    color: dodgerblue;
}

.Calendar td:empty{
    background-color: #fafafa;
}

.calendar_wrapper .header_left {
    grid-row: 4;
    grid-column: 1;
}
.calendar_wrapper .header_right {
    grid-row: 4;
    grid-column: 3;
}
.calendar_wrapper h3{
    grid-column: 2;
    grid-row: 1;
}

@media (max-width: 600px) {
    .calendar_wrapper .header_left {
        grid-row: 1;
    }
    .calendar_wrapper .header_right {
        grid-row: 1;
    }
    div.Calendar {
        grid-column: 1 / 4;
    }
    .calendar_wrapper {
        grid-template-rows: repeat(5, 1fr);
        align-items: baseline;
    }
}