.Editor .editor_section{
    padding: 0 3rem;
}

.Editor .button_section{
    padding: 1rem 0;
}

.Editor .emotion_list_wrapper{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 600px){
    .Editor .emotion_list_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}