.editor_section{
    padding: 0 3rem;
}

textarea {
    width: calc(100% - 10px);
    text-align: center;
    resize: vertical;
}

.emotion_list_wrapper{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.button_section{
    margin: 2rem 0;
}

.button_section button{
    font-size: 1.3rem;
}