.Editor .editor_section{
    padding: 0 3rem;
}

.Editor .button_section{
    padding: 1rem 0;
}

.Editor textarea {
    width: calc(100% - 10px);
    resize: vertical;
}

.Editor .emotion_list_wrapper{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
