.EmotionItem {
    cursor: pointer;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmotionItem img{
    width: 100%;
    margin-bottom: 10px;
}

.EmotionItem span{
    font-size: 1rem;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
}

.EmotionItem_off{
    background-color: #f8f8f8;
}

.EmotionItem_on{
    color: white;
    font-weight: bold;
    box-shadow: inset 0 0 10px 0px #0000000d;
}

.EmotionItem_on_1{
    background-color: #FEE344;
}

.EmotionItem_on_2{
    background-color: #9DD772;
}

.EmotionItem_on_3{
    background-color: #64c964;
}

.EmotionItem_on_4{
    background-color: #92D9F2;
}

.EmotionItem_on_5{
    background-color: #FB9E49;
}

.EmotionItem_on_6{
    background-color: #FD565F;
}

.EmotionItem_on_7{
    background-color: #CBB8DE;
}


@media (max-width: 600px){
    .emotion_list_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .EmotionItem {
        padding: 15px;
        display: grid;
        grid-template-columns: 25% 1fr;
        align-items: center;
    }

    .EmotionItem img{
        margin: 0;
    }

    .EmotionItem span{
        font-size: 1.1rem;
    }
}