.Header{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 8px -3px #00000020;
    background-color: white;
}

.Header > div {
    display: flex;
}

.Header .header_title{
    width: 80%;
    justify-content: center;
}

.Header .header_title label{
    font-family: 'Jua';
    font-weight: 400;
    font-size: 1.8rem;
    position: relative;
    top: 0.175rem;
}

.Header .header_left {
    width: 25%;
    justify-content: start;
}

.Header .header_right {
    width: 25%;
    justify-content: end;
}