.Todo{
  padding: 0 2rem;
}

.Todo .today{
  color: var(--deep-color);
}

.Todo .today img{
  height: 3rem;
  display: inline;
  position: relative;
  top: 0.8rem;
  margin: 0 0.5rem;
}

/* TodoEditor */
.TodoEditor .editor_wrapper{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.TodoEditor .editor_wrapper img{
  height: 1.6rem;
}

.TodoEditor button{
  height: fit-content;
}

.TodoEditor .editor_wrapper input{
  width: 100%;
}

.TodoEditor .editor_wrapper{
  margin-bottom: 2rem;
}

/* TodoSearch */
.TodoSearch {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;}

.TodoSearch img {
  height: 1.6rem;
}

/* TodoList */
.TodoList .list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* TodoItem */
.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 10px 20px;
  border-bottom: 1px solid #eee;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
}

.TodoItem .title_col{
  flex:1;
  text-align: left;
}

.TodoItem .date_col{
  color: #ccc;
}

.TodoItem .btn_col {
  display: flex;
}

.TodoItem .btn_col img {
  width: 1.6rem;
  margin-left: 3px;
  filter: grayscale(1);
  cursor: pointer;
}

.TodoItem .btn_col img:hover {
  filter: grayscale(0);
}

/* 토글 */
input[type="checkbox"].toggle {
  appearance: none;
  background-repeat: no-repeat;
  border: 2px solid rgba(0, 0, 0, 0.25);
  width: 3em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3e%3c/svg%3e");
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
  margin-bottom: -4px;
}

input[type="checkbox"]:checked.toggle {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%208%208%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M7%2C4c0%2C1.7-1.3%2C3-3%2C3S1%2C5.7%2C1%2C4s1.3-3%2C3-3S7%2C2.3%2C7%2C4z%20M5.5%2C2.9c-0.1-0.1-0.3-0.1-0.4%2C0c0%2C0%2C0%2C0%2C0%2C0L3.8%2C4.5L3%2C3.7c-0.1-0.1-0.3-0.1-0.4%2C0C2.5%2C3.9%2C2.5%2C4%2C2.6%2C4.1l1%2C1c0.1%2C0.1%2C0.3%2C0.1%2C0.4%2C0c0%2C0%2C0%2C0%2C0%2C0l1.5-1.9C5.6%2C3.1%2C5.6%2C3%2C5.5%2C2.9L5.5%2C2.9z%22%2F%3E%0A%3C%2Fsvg%3E");
  background-color: limegreen;
  background-position: right;
}

