
.App {
  font-family: 'Single Day', cursive;
  text-align: center;
  background-color: rgb(254, 254, 255);
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px #0000000d;
  font-size: 1.5rem;
  margin-bottom: -2rem;
  padding-bottom: 2rem;
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  animation: 5s linear 0s infinite loadingcolor;
}

@keyframes loadingcolor {
  0% {color: var(--light-color);}
  50%{color: var(--middle-color);}
  100%{color: var(--light-color);}
}