
.App {
  font-family: 'Single Day', cursive;
  text-align: center;
  background-color: rgb(254, 254, 255);
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
  box-shadow: 0px 0px 10px 0px #0000000d;
  font-size: 1.5rem;
}

.TempMenus{
  background: #D7E0FF;
  display: flex;
  justify-content: space-evenly;
  padding: 0.1rem 6rem 0rem 6rem;
  border-bottom: 1px solid #4147D5;
}

.TempMenus a{
  color:#4147d5;
  text-decoration: none;
  font-size: 0.9em;
}

.TempMenus span{
  color:#4147d5;
  font-size: 0.6em;
  margin-top: 3px;
}

.TempMenus a:hover{
  filter: brightness(120%) saturate(120%);
}
