@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Single+Day&family=Jua&display=swap');

:root {
  --moredeep-color: #222565;
  --deep-color: #4147D5;
  --middle-color: #7890e3;
  --light-color: rgb(215, 224, 255); /* #D7E0FF */
  --light-color-62: rgba(215, 224, 255, 0.62);
  --light-color-25: rgba(215, 224, 255, 0.25);
  --light-color-13: rgba(215, 224, 255, 0.13);
}

:root::-webkit-scrollbar {
  width: 10px;
}
:root::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
  border-radius: 10px;
}
:root::-webkit-scrollbar-track {
  background-color: var(--light-color-25);
  border-radius: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color-25);
}

h2{
  margin-block-start: 0.83em;
}

h4{
  margin-block-end: 0.5em;
  margin-inline-end: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  margin-block-start: 1.33em;
}

h4::before{
  content: url("data:image/svg+xml,%3Csvg width='26' height='23' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' overflow='hidden'%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect x='999' y='2001' width='26' height='23'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip0)' transform='translate(-999 -2001)'%3E%3Cpath d='M19.2504 0C17.3868 0 15.625 0.558426 14.4167 1.95562 13.6778 2.80998 13.5954 3.09467 13.0001 4.21189 12.4048 3.09467 12.3223 2.80998 11.5834 1.95562 10.3751 0.558426 8.61336 0 6.74975 0 3.02246 0-0.0610134 3.42517 0.000929702 7.64917 0.0214387 9.04804 0.0877111 9.58419 0.893 11.4738 3.02034 16.0728 9.74822 23.036 12.9999 22.9999 13 22.9999 13 22.9999 13.0001 22.9999 13.0001 22.9999 13.0001 22.9999 13.0002 22.9999 16.2519 23.036 22.9798 16.0728 25.1071 11.4738 25.9124 9.58419 25.9787 9.04804 25.9992 7.64917 26.0611 3.42517 22.9777 0 19.2504 0Z' fill='%2399D0FD' fill-rule='evenodd' transform='matrix(-1 0 0 1 1025 2001)'/%3E%3Cpath d='M14.8079 0C13.3743 0 12.0191 0.437026 11.0897 1.53048 10.5213 2.19909 10.4579 2.42189 9.99997 3.29624 9.54206 2.42189 9.47861 2.19909 8.91027 1.53048 7.9808 0.437026 6.6256 0 5.19207 0 2.32495 0-0.046933 2.68055 0.00071515 5.98625 0.0164911 7.08101 0.0674696 7.50061 0.686917 8.97939 2.32332 12.5786 7.49857 18.028 9.99987 17.9998 9.9999 17.9998 9.99994 17.9997 9.99997 17.9997 10 17.9997 10 17.9998 10.0001 17.9998 12.5014 18.028 17.6766 12.5786 19.313 8.97939 19.9325 7.50061 19.9834 7.08101 19.9992 5.98625 20.0469 2.68055 17.675 0 14.8079 0Z' fill='%234D94FD' fill-rule='evenodd' transform='matrix(-1 0 0 1 1022 2004)'/%3E%3Cpath d='M8.88451 0C8.02441 0 7.21131 0.267073 6.65364 0.935297 6.31265 1.3439 6.27458 1.48006 5.99984 2.01438 5.7251 1.48006 5.68703 1.3439 5.34603 0.935297 4.78837 0.267073 3.97527 0 3.11517 0 1.39494 0-0.0281591 1.63812 0.000429079 3.65829 0.00989444 4.32732 0.0404808 4.58374 0.41214 5.48745 1.39396 7.68696 4.49903 11.0172 5.99978 10.9999 5.9998 10.9999 5.99982 10.9999 5.99984 10.9999 5.99986 10.9999 5.99987 10.9999 5.99989 10.9999 7.50064 11.0172 10.6057 7.68696 11.5875 5.48745 11.9592 4.58374 11.9898 4.32732 11.9992 3.65829 12.0278 1.63812 10.6047 0 8.88451 0Z' fill='%234057F6' fill-rule='evenodd' transform='matrix(-1 0 0 1 1018 2008)'/%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  top: 0.3rem;
  margin: 0 0.4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input, select, textarea {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  background: var(--light-color-13);
}

select{
  cursor: pointer;
}

textarea{
  line-height: 1.6;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
  box-shadow: 0px 0px 0px 5px var(--light-color-62); 
  background-color: white;
  outline: none;
}